

<!--                            
                                {%- for value in option.values -%}
                                  <label class="product-option-value-item  product-option-size {{ optionClass }}">
                                    <input type="radio" name="option{{ option.position }}" {% if option.selected_value == value %}checked="checked"{% endif %} value="{{ value | escape }}" data-product-option="{{ option_index }}" />
                                    <span class="flex-container align-center-middle">{{ value }}</span>
                                  </label>
                                {%- endfor -%}
-->




{%- for value in option.values -%}
  {%- assign optionClass = 'product-option-size' -%}
  
  {%- for variant in product.variants -%}
    {%- if variant.title == value and variant.available -%}
      {%- assign optionClass = 'product-option-size available' -%}
    {%- elsif variant.title == value -%}
      {%- assign optionClass = 'product-option-size no-stock' -%}
    {%- endif -%}
  {%- endfor -%}

  <label class="product-option-value-item {{ optionClass }}">
    <input type="radio" name="option{{ option.position }}" {% if option.selected_value == value %}checked="checked"{% endif %} value="{{ value | escape }}" data-product-option="{{ option_index }}" />
    <span class="flex-container align-center-middle">{{ value }}</span>
  </label>
{%- endfor -%}